version: "3.8"
services:
  web:
    build:
      context: .
      dockerfile: web.Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - .:/web
    # copy and fill from dev-env.list.example
    env_file:
     - ./dev-env.list
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"