arrow==0.17.0
asn1crypto==0.24.0
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cryptography==2.1.4
Flask==1.1.2
idna==2.6
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
numpy==1.19.4
opencv-python==4.4.0.46
pycrypto==2.6.1
pygobject==3.26.1
python-dateutil==2.8.1
pyxdg==0.25
redis==3.5.3
requests==2.25.0
rq==1.6.1
rq-dashboard==0.6.1
SecretStorage==2.3.1
six==1.11.0
urllib3==1.26.2
Werkzeug==1.0.1
