<style>
    .frame{
        position: relative;
    }
    .frame div {
        position: absolute;
        border: 1px solid green;
    }

</style>

{{result}}
{{labels}}
<div class="frame">
    <img src="/static/{{image_name}}">
    {% if has_boxes %}
        {% for i in idxs %}
            <div style=" 
                left:{{ boxes[i][0] }}px;
                top:{{ boxes[i][1] }}px;
                width:{{ boxes[i][2] }}px;
                height:{{ boxes[i][3] }}px;
            "></div>
        {% endfor %}
    {% endif %}
</div>

